<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gandsoft.phonetest">
    /*Permission*/
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    /*Feature*/
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityClass.PhoneInformationActivity" />
        <activity android:name=".ActivityClass.WifiActivity" />
        <activity android:name=".ActivityClass.CamActivity" />
        <activity android:name=".ActivityClass.BtoothActivity" />
        <activity android:name=".ActivityClass.ButtonActivity" />
        <activity android:name=".ActivityClass.BrightnessActivity" />
        <activity android:name=".ActivityClass.ProxActivity" />
        <activity android:name=".ActivityClass.PedoActivity" />
        <activity android:name=".ActivityClass.MicActivity" />
        <activity android:name=".ActivityClass.GyroActivity" />
        <activity android:name=".ActivityClass.MultitouchActivity" />
        <activity android:name=".ActivityClass.TouchscreenActivity"></activity>
    </application>

</manifest>